*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}



body{
    background-color: black;
    color: white;


    
}
.container{
    padding: padding: 50px 4%;
}
.container1{
    color: white;
    padding: 100PX 0%;
    overflow: hidden;
    z-index: -1;
    position: relative ;
}
.video-bg{
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    
    
}
.logo{
    padding: 2px;
    width: 140px;
    height: 140px;
    border: 3px solid white;
    z-index: 2; 
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    
    
}
nav ul li a{
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    padding: 3px 20px;
    border: 5px solid white;
}
.video{
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
.audio{
    padding: 2% 575px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
